<div class="o-auth-card">
    <h1 class="a-auth-title"><%= locals.title %></h1>

    <% if (locals.isRegister && locals.generalErrors && locals.generalErrors.length) { %>
        <div class="auth-alert" role="alert">
            <% locals.generalErrors.forEach((message) => { %>
                <p><%= message %></p>
            <% }) %>
        </div>
    <% } %>

    <form action="<%= locals.action %>" method="POST" class="m-auth-form" <% if (locals.isRegister) { %>novalidate data-register-form="true"<% } %>>
        <% if (locals.isRegister) { %>
            <%- include('../../molecules/register/register-fields.ejs', {
                values: locals.values || {},
                errors: locals.errors || {}
            }) %>
        <% } else { %>
            <%- include('../../atoms/log-reg/login/logInput.ejs', {
                type: 'email',
                name: 'email',
                placeholder: 'Tu email',
                autocomplete: 'email'
            }) %>

            <%- include('../../atoms/log-reg/login/logInput.ejs', {
                type: 'password',
                name: 'password',
                placeholder: 'Tu contrasena',
                autocomplete: 'current-password'
            }) %>
        <% } %>

        <% if (locals.isRegister) { %>
            <%- include('../../atoms/log-reg/register/regButton.ejs', {
                buttonText: locals.btnText
            }) %>
        <% } else { %>
            <%- include('../../atoms/log-reg/login/logButton.ejs', {
                buttonText: locals.btnText
            }) %>
        <% } %>
    </form>

    <% if (locals.isRegister) { %>
        <%- include('../../atoms/log-reg/register/regLink.ejs', {
            message: locals.navMessage,
            linkText: locals.navLinkText,
            url: locals.navUrl
        }) %>
    <% } else { %>
        <%- include('../../atoms/log-reg/login/logLink.ejs', {
            message: locals.navMessage,
            linkText: locals.navLinkText,
            url: locals.navUrl
        }) %>
    <% } %>
</div>
